<h1>New Movie</h1>
<form action="/movies/create_form">
    <div>
    <label id="Title">
        Title
    </label>
    <input id="Title" name="movie_title" type="text" placeholder="type a movie's title">
    </div>
    
    <div>
    <label id="Description">
        Description
    </label>
    <input id="Description" name="movie_description" type="text" placeholder="type a movie's description">
    </div>
     
     <div>
    <label id="Year">
        Year
    </label>
    <input id="Year" name="movie_year" type="text" placeholder="type a movie's year">
    </div>  
    
    <div>
    <label id="Duration">
        Duration
    </label>
    <input id="Duration" name="movie_duration" type="text" placeholder="type a movie's duration">
    </div>  
    
    
    <div>
    <label id="Image url">
        Image url
    </label>
    <input id="Image url" name="movie_url" type="text" placeholder="type the URL of the movie's image">
    </div>
    <button>Create movie</button>
</form>