<h1>New Actor</h1>
<form action="/actors/create_form">
    <div>
    <label id="Name">
        Name
    </label>
    <input id="Name" name="actor_name" type="text" placeholder="type an actor's name">
    </div>
    
    <div>
    <label id="Bio">
        Bio
    </label>
    <input id="Bio" name="actor_bio" type="text" placeholder="type an actor's bio">
    </div>
     
     <div>
    <label id="Dob">
        Dob
    </label>
    <input id="Dob" name="actor_dob" type="text" placeholder="type an actor's dob">
    </div>  
    
    <div>
    <label id="Image url">
        Image url
    </label>
    <input id="Image url" name="actor_url" type="text" placeholder="type the URL of the actor's image">
    </div>
    <button>Create actor</button>
</form>