<h1>New Director</h1>
<form action="/directors/create_form">
    <div>
    <label id="Name">
        Name
    </label>
    <input id="Name" name="director_name" type="text" placeholder="type a director's name">
    </div>
    
    <div>
    <label id="Bio">
        Bio
    </label>
    <input id="Bio" name="director_bio" type="text" placeholder="type a director's bio">
    </div>
     
     <div>
    <label id="Dob">
        Dob
    </label>
    <input id="Dob" name="director_dob" type="text" placeholder="type a director's dob">
    </div>  
    
    <div>
    <label id="Image url">
        Image url
    </label>
    <input id="Image url" name="director_url" type="text" placeholder="type the URL of the director's image">
    </div>
    <button>Create director</button>
</form>